version: '3.7'
services:
  keycloak_db:
    image: postgres:10
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=keycloak
      - POSTGRES_DB=keycloak_db
  keycloak:
    image: quay.io/keycloak/keycloak:21.0.1
    ports:
      - '8443:8443'
      - '8082:8080'
    command: start-dev --import-realm
    volumes:
      - ./src/backend/keycloak/imports:/opt/keycloak/data/import
      - ./src/backend/keycloak/keystore:/opt/conf
    # TODO: Fix this warning, (main) Datasource <default> enables XA but transaction recovery is not enabled. Please enable transaction recovery by setting quarkus.transaction-manager.enable-recovery=true, otherwise data may be lost if the application is terminated abruptly
    environment:
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://keycloak_db/keycloak_db?user=keycloak&password=keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=keycloak
      - KC_HOSTNAME=localhost
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      #      - KC_HTTPS_KEY_STORE_FILE=/opt/conf/server.keystore
      #      - KC_HTTPS_KEY_STORE_PASSWORD=password
      - KC_TRANSACTION_XA_ENABLED=true
      - KC_HEALTH_ENABLED=true
      - KC_METRICS_ENABLED=true
    depends_on:
      - keycloak_db
  mongodb:
    image: mongo:4.4.4
    ports:
      - '28017:27017'
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
    volumes:
      - ./src/backend/mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
      - mongodb-data:/data/db
  cache:
    image: redis:7.0.9-alpine
    restart: always
    ports:
      - '6379:6379'
    command: >
      --include /usr/local/etc/redis/redis.conf
    volumes:
      - ./src/backend/redis/redis.conf:/usr/local/etc/redis/redis.conf
      - cache:/data
  registry:
    image: registry:2.8.1
    ports:
      - '5000:5000'
    environment:
      REGISTRY_HTTP_ADDR: :5000
      REGISTRY_STORAGE: filesystem
      REGISTRY_STORAGE_DELETE_ENABLED: 'true'
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /var/lib/registry
    volumes:
      - ./src/backend/registry/data:/var/lib/registry
      - ./src/backend/registry/config/config.yml:/etc/docker/registry/config.yml
    restart: always
  registry_ui:
    image: joxit/docker-registry-ui:2.4.1
    ports:
      - '8081:80'
    environment:
      - REGISTRY_TITLE=My Private Docker Registry
      - REGISTRY_URL=http://localhost:5000
      - SINGLE_REGISTRY=true
    depends_on:
      - registry
volumes:
  keycloak_db_data:
    driver: local
  cache:
    driver: local
  mongodb-data:
    driver: local