version: '3.7'
services:
  keycloak_db:
    image: postgres:10
    restart: always
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=keycloak
      - POSTGRES_DB=keycloak_db
  keycloak:
    image: quay.io/keycloak/keycloak:21.0.1
    restart: always
    ports:
      - '8443:8443'
      - '8082:8080'
    command: start-dev --import-realm
    volumes:
      - ./src/backend/keycloak/imports:/opt/keycloak/data/import
      - ./src/backend/keycloak/keystore:/opt/conf
    # TODO: Fix this warning, (main) Datasource <default> enables XA but transaction recovery is not enabled. Please enable transaction recovery by setting quarkus.transaction-manager.enable-recovery=true, otherwise data may be lost if the application is terminated abruptly
    environment:
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://keycloak_db/keycloak_db?user=keycloak&password=keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=keycloak
      - KC_HOSTNAME=localhost
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      #      - KC_HTTPS_KEY_STORE_FILE=/opt/conf/server.keystore
      #      - KC_HTTPS_KEY_STORE_PASSWORD=password
      - KC_TRANSACTION_XA_ENABLED=true
      - KC_HEALTH_ENABLED=true
      - KC_METRICS_ENABLED=true
    depends_on:
      - keycloak_db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/realms/phyloviz-web-platform"]

  mongodb:
    image: mongo:6.0.6
    environment:
      MONGO_APP_DATABASE: phyloviz-web-platform
      MONGO_REPLICA_HOST: host.docker.internal
      MONGO_REPLICA_PORT: 27018

    entrypoint: >
      /bin/bash -c '
      echo "rs.initiate()" > /docker-entrypoint-initdb.d/1-init-replicaset.js &&
      /usr/local/bin/docker-entrypoint.sh mongod --replSet rs0 --bind_ip_all --noauth --setParameter "transactionLifetimeLimitSeconds=2629743"'
    expose:
      - 27017
    volumes:
      - ./src/backend/mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
      - mongodb-data:/data/db
    ports:
      - "28017:27017"
    restart: always

  tool_registry:
    image: registry:2.8.2
    restart: always
    ports:
      - '5000:5000'
    volumes:
      - tool-registry-data:/var/lib/tool_registry
      - ./src/backend/registry/config/config.yml:/etc/docker/tool_registry/config.yml
  tool_registry_ui:
    image: joxit/docker-registry-ui:2.4.1
    ports:
      - '8084:80'
    environment:
      - REGISTRY_TITLE=Tool Images Private Docker Registry
      - REGISTRY_URL=http://localhost:5000
      - SINGLE_REGISTRY=true
    depends_on:
      - tool_registry
  administration:
    build:
      context: ./src/backend/microservices/administration
      dockerfile: Dockerfile
    ports:
      - '8088:8088'
    network_mode: host
    depends_on:
      - mongodb

  compute:
    build:
      context: ./src/backend/microservices/compute
      dockerfile: Dockerfile
    ports:
      - '8086:8086'
    network_mode: host
    depends_on:
      - mongodb

  file-transfer:
    build:
      context: ./src/backend/microservices/file-transfer
      dockerfile: Dockerfile
    ports:
      - '8089:8089'
    network_mode: host
    depends_on:
      - mongodb

  gateway:
    build:
      context: ./src/backend/microservices/gateway
      dockerfile: Dockerfile
    ports:
      - '8083:8083'
    network_mode: host
    depends_on:
      - mongodb
      - keycloak

  visualization:
    build:
      context: ./src/backend/microservices/visualization
      dockerfile: Dockerfile
    ports:
      - '8085:8085'
    network_mode: host
    depends_on:
      - mongodb


volumes:
  keycloak_db_data:
    driver: local
  cache:
    driver: local
  mongodb-data:
    driver: local
  tool-registry-data:
    driver: local
